* {
  font-family: Arial;
  color: black;
  font-size: 13px;
  font-weight: bold;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 100%;
  justify-content: center;
}
h1 {
  color: grey;
  font-family: Verdana;
  text-align: center;
  font-size: large;
}
.maindiv {
  background-color: white;
  display: inline-block;
  border-radius: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin: auto;
}
.labelelement, .inputelement {
  margin-top: 6px;
  margin-bottom: 6px;
}
.labelelement {
  display: inline-block;
  width: 80px;
  height: 14px;
}
.inputelement {
  display: inline-block;
  position: relative;
  left: 30px;
}
.inputelement > input {
  position: relative;
  top: 3px;
}
.inputelement > span {
  position: relative;
  top: -2px;
}
.button {
  margin-top: 10px;
}
footer {
  margin-top: 10px;
}
footer > label {
  font-size: 14px;
}
